#photos {
  opacity: .88;
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 10px;
    display: block;
    text-align: center;
  }
}
#photos img {
  width: 32%;
  float: left;
  display: block;
  margin: 2px;
}

#overlay {
  background: rgba(0,0,0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
}
#overlay img {
  margin: 10% auto 0;
  width: 550px;
  border-radius: 5px;
}
#photos {
  width: 100%;
}
#photo-gallery {
  width: 100%;
}
