@import 'normalize';
@import 'base';
//Add any styles you want here!
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$standardbgc: white;
$standardtc: #666;
$titletc: #445;

body{
  color: $standardtc;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}
header{
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 101;
  nav{
    background-color: white;
    box-shadow: 0 2px 0 -1px rgba(0,0,0,0.08);
    h1{
      font-size: 27px;
      float:left;
    }
    ul{
      float: right;
      li{
        margin-left: 30px;
        font-size: 16px;
        vertical-align: center;
        .active{color: #B9A294;}
        :hover{
          color: #8C796D;
          border-bottom: 2px solid #8C796D;
          padding-bottom: 3px;
        }
      }
    }
  }
}
main{
  padding-top: 80px;
}
a{
  color: $standardtc;
  text-decoration: none; 
}
ul {
  list-style-type: none;
  li{
    float: left;
  }
}
h1,h2,h3{
  font-family: 'Titillium Web', sans-serif;
  clear: left;
  font-weight: normal;
  color: $titletc;
}
.innerwidth{
  max-width: 1140px;
  margin: auto;
}
section.scope{
  article:first-child{
    margin-left: 0;
  }
  article{
    width: 22%;
    float: left;
    margin-left: 4%;
    h2,p{padding-left: 70px;}
  }
}
//extra non overwritable helper classes
@import 'helper';
